@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

body {
  height: 100%;
  font-family: var(--var-inter);
  font-weight: 700;
}

@import 'react-phone-input-2/lib/style.css';